/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
    display: block;
}

.side-menu{
    position: fixed;
    background: #000;
    width: var(--nav-bar-width);
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
}

/*.side-menu.inactive{
    width: 80px;
}*/

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo{
    padding: 0px;
    width: 65px;
    height: 45px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.side-menu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;
}



.side-menu .main-menu .menu-item{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;


}

.side-menu .main-menu .menu-item.active{
    background: rgb(85, 84, 84);
    border-radius: 5px;
    color: #fff;
}


.side-menu .main-menu{
    margin: 5px 0;
}

.side-menu .main-menu .menu-item:hover{
    cursor: pointer;
    background:  rgb(139, 139, 139);
    border-radius: 5px;
    color: #fff;
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: #333;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu.active{
    max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    padding: 5px;
}

.side-menu .main-menu .sub-menu a.active{
    background: rgb(85, 84, 84);
    display: block;
    border-radius: 5px;
    color: #fff;
}

.side-menu .main-menu .sub-menu a:hover{
    background: rgb(139, 139, 139);
    display: block;
    border-radius: 5px;
    color: #fff;
}

.side-menu-footer{
    width: 100%;
    background: #545454;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar{
    color: #eee;
    font-size: 30px;
    margin: 0px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}


.side-menu-footer .user-info{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
}

.side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}


.side-menu-footer .user-info h5{
    font-size: 15px;
}


.side-menu-footer .user-info p{
    font-size: 14px;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
}

.container{
    margin-left: 300px;
    padding: 50px;
    box-sizing: border-box;
}

.container.inactive{
    margin-left: 80px;
}

a {
    cursor: pointer;
}

.logout-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.logout-btn-container a {
    font-weight: 700;
    letter-spacing: .5px;
    color: #c94927;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-logout {
    display: none;
    position: absolute;
    bottom:50px;
    left: 50px;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: center;
}


/* Links inside the dropdown */

.dropdown-logout a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-logout a:hover {
    background-color: #ddd;
    border-radius: 5px;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}