.ortsbetrieb-ESTW-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2,47%);
}

.ortsbetrieb-ESTW-container .button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.ortsbetrieb-ESTW-container .button-group button{
    flex-grow: 1;
}

.control-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #f1e2e2;
    border-radius: 10px;
    background: #d9d9d9;
}

.ortsbetrieb-ESTW-container .control {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    align-items: center;
    overflow: hidden;
}

.control-header {
    margin-top: -20px;
    background-color: #d35757;
    border-radius: 5px;
    width: fit-content;
    padding: 7px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.control p {
    text-align: center;
    font-weight: 900;
}

.control-option {
    display: inline-flex;
    flex-direction:column;
    margin: 15px;
    vertical-align: middle;
    width: 300px;
}
